@import 'normalize.css';

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #444;
  margin: 0 5%;
  text-align: center;
}

header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

main {
  width: 100%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-family: "Helvetica Neue", "HelveticaNeue", "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  padding: 20px;
}

h2 {
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  padding: 50px 0 20px 0;
}

h4 {
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

h5 {
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: #999;
}

span.underlined {
  color: #f66333;
  border-bottom: 3px solid #eee;
  padding-bottom: 5px;
}

span.highlight {
  background-color: #fcffa5;
  padding: 3px;
}

p a, footer a {
  color: #10a0f2;
  text-decoration: none;
  border-bottom: 1px solid #10a0f2;
  padding-bottom: 1px;
  -o-transition: color 0.5s linear, border-color 0.5s linear;
  -ms-transition: color 0.5s linear, border-color 0.5s linear;
  -moz-transition: color 0.5s linear, border-color 0.5s linear;
  -webkit-transition: color 0.5s linear, border-color 0.5s linear;
  transition: color 0.5s linear, border-color 0.5s linear;
}

a:hover {
  color: #095a88;
  border-color: #095a88;
}

footer {
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 14px;
  margin-top: 80px;
}

span#heart {
  color: #ed1c24;
  font-size: 18px;
  padding: 0 1px;
}

footer p#navbar a {
  margin: 0 10px;
}

.clear {
  clear: both;
  height: 0;
}

.mobile-only {
  display: none;
}

/* Home page */

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  -ms-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;

  margin: 50px auto 10px auto;
}

.flip-container:hover .back, .flip-container.hover .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper, .front, .back {
  width: 179px;
  height: 300px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 0.6s;

  -moz-transition: 0.6s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
  margin: 0 auto;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: absolute;
  top: 0;
  left: 0;
}

.front {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
}

.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flipper img {
  display: block;
  margin: 0 auto;
}

.flipper p {
  position: absolute;
  bottom: 0px;
  width: 100%;
  color: #777;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

.pulse {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #f26522;
  z-index: 10;
  position: absolute;
}

.dot {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 5px solid #f26522;
  background: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  height: 25px;
  width: 25px;
  -webkit-animation: pulse 2s ease-out;
  -moz-animation: pulse 2s ease-out;
  -o-animation: pulse 2s ease-out;
  animation: pulse 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -13px;
  left: -12px;
  z-index: 1;
  opacity: 0;
}

.label {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 10;
  position: absolute;
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  padding-bottom: 3px;
  padding-top: 0;
  border-bottom: 3px solid;
  top: -15px;
  -o-transition: opacity 1s ease-in 1s;
  -ms-transition: opacity 1s ease-in 1s;
  -moz-transition: opacity 1s ease-in 1s;
  -webkit-transition: opacity 1s ease-in 1s;
  transition: opacity 1s ease-in 1s;
}

#front-container .dot {
  border: 5px solid #f26522;
}

#back-container .dot {
  border: 5px solid #0ae37a;
}

#front-container .pulse {
  background-color: #f26522;
}

#back-container .pulse {
  background-color: #0ae37a;
}

#front-container .label {
  color: #f26522;
  border-color: #f26522;
  opacity: 1;
}

#back-container .label {
  color: #0ae37a;
  border-color: #0ae37a;
  opacity: 0;
}

.flip-container:hover #front-container .label, .flip-container.hover #front-container .label {
  opacity: 0;
}

.flip-container:hover #back-container .label, .flip-container.hover #back-container .label {
  opacity: 1;
}

@-moz-keyframes "pulse" {
 0% {
    -moz-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -moz-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -moz-transform: scale(1);
    opacity: 0.0;
 }
}
@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
}
@-o-keyframes "pulse" {
 0% {
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -o-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
}
@keyframes "pulse" {
 0% {
    transform: scale(0);
    opacity: 0.0;
 }
 25% {
    transform: scale(0);
    opacity: 0.1;
 }
 50% {
    transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    transform: scale(1);
    opacity: 0.0;
 }
}

#front-container {
  background-image: url('/images/before_deliverable.png');
  width: 179px;
  height: 253px;
}

#back-container {
  background-image: url('/images/after_deliverable.png');
  width: 178px;
  height: 252px;
}

#layout-front {
  margin-top: 12px;
  margin-left: 20px;
  position: absolute;
}
#layout-front .label {
  padding-right: 30px;
  padding-left: 2px;
  left: -80px;
}
#design-front {
  margin-top: 80px;
  margin-left: 20px;
  position: absolute;
}
#design-front .label {
  padding-right: 30px;
  padding-left: 2px;
  left: -80px;
}
#usability-front {
  margin-top: 195px;
  margin-left: 10px;
  position: absolute;
}
#usability-front .label {
  padding-right: 30px;
  padding-left: 2px;
  left: -90px;
}
#copy-front {
  margin-top: 40px;
  margin-left: 160px;
  position: absolute;
}
#copy-front .label {
  padding-left: 20px;
  padding-right: 2px;
  left: 10px;
}

#layout-back {
  margin-top: 40px;
  margin-left: 25px;
  position: absolute;
}
#layout-back .label {
  padding-right: 40px;
  padding-left: 2px;
  left: -90px;
}
#design-back {
  margin-top: 160px;
  margin-left: 30px;
  position: absolute;
}
#design-back .label {
  padding-right: 40px;
  padding-left: 2px;
  left: -90px;
}
#usability-back {
  margin-top: 225px;
  margin-left: 155px;
  position: absolute;
}
#usability-back .label {
  padding-left: 25px;
  padding-right: 2px;
  left: 5px;
}
#copy-back {
  margin-top: 155px;
  margin-left: 160px;
  position: absolute;
}
#copy-back .label {
  padding-left: 20px;
  padding-right: 2px;
  left: 10px;
}

ul#howitworks, ul#team {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0;
}
ul#howitworks li, ul#team li {
  list-style:none; /* Disable the normal item numbering */
  display: inline-block;
  min-width: 200px;
  width: 30%;
  margin: 30px 1%;
  padding: 0;
}
ul#howitworks p {
  line-height: 120%;
  margin-bottom: 0;
  font-size: 20px;
}
ul#team p {
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 22px;
  margin: 5px 0 0 0;
}
ul#howitworks img, ul#team img {
  display: block;
  margin: 0 auto;
}
ul#team img {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
ul#team h4 {
  margin-top: 7px;
}

div#calendar {
  width: 98px;
  height: 98px;
  border: 1px solid #000;
  margin: 0 auto;
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
}

div#calendar span#month {
  background-color: #e01616;
  color: #fff;
  font-size: 17px;
  height: 30px;
  line-height: 30px;
  display: block;
}

div#calendar span#date {
  display: block;
  font-size: 42px;
  color: #454545;
  margin-top: 17px;
}

ol#philosophies {
  counter-reset:philosophies; /* Initiate a counter */
  margin-left:0; /* Remove the default left margin */
  padding-left:0; /* Remove the default left padding */
  text-align: left;
}

ol#philosophies > li {
  position:relative; /* Create a positioning context */
  margin:0 0 20px 3em; /* Give each list item a left margin to make room for the numbers */
  padding:4px 13px; /* Add some spacing around the content */
  list-style:none; /* Disable the normal item numbering */
}
ol#philosophies > li:before {
  content:counter(philosophies); /* Use the counter as content */
  counter-increment:philosophies; /* Increment the counter by 1 */
  position:absolute;
  left:-2em;
  top: 0.7em;
  color:#fff;
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 30px;
  background:#0ae37a;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align:center;
  line-height: 60px;
}

ol#philosophies p {
  margin: 0;
}

a#cta {
  display: block;
  background-color: #0ae37a;
  width: 250px;
  height: 70px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 70px;
  margin: 30px auto 10px auto;
  -o-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
a#cta:hover {
  background-color: #08b260;
}
p#or {
  text-align: center;
  color: #ccc;
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  margin: 0;
}
p.centered {
  text-align: center;
}
p#sub-cta {
  text-align: center;
  margin: 10px 0;
  font-size: 23px;
}

/* Blog */

article .title {
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  padding: 10px;
}

article .title a {
  color: #404040;
  text-decoration: none;
  -o-transition: color 0.5s linear;
  -ms-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}
article .title a:hover {
  color: #10a0f2;
}

article .author {
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  font-style: italic;
  color: #999;
  margin: 20px 0 30px 0;
}

article .post_body {
  text-align: left;
}

article hr {
  border: 1px dashed #e6e6e6;
  width: 80%;
  margin: 40px auto;
}

article img {
  display: block;
  margin: 10px auto;
}

#followme {
  color: #666;
  font-size: 15px;
  margin-top: 40px;
}

.footnotes {
  font-size: 80%;
}

.pagination a#newerPosts {
  float: left;
  margin: 30px 0 20px 10px;
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.pagination a#olderPosts {
  float: right;
  margin: 30px 10px 20px 0;
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (max-width: 450px) {
    h1, h2 {
      font-size: 35px;
    }
    .mobile-only {
      display: inherit;
    }
}
@media only screen and (max-width: 350px) {
    h1, h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 25px;
    }
}
@media only screen and (max-width: 720px) {
    ul#howitworks li, ul#team li {
      min-width: 400px;
    }
}
@media only screen and (max-width: 400px) {
    ul#howitworks li, ul#team li {
      min-width: 210px;
    }
}