@import 'normalize.css';

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", "HelveticaNeue", "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  color: #444;
  margin: 0 5%;
  text-align: center;
}

header {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

#logo {
  background-image: url('/images/logo.png');
  background-size: 288px 60px;
  width: 288px;
  height: 60px;
  margin: 0 auto;
  display: block;
}

main {
  width: 100%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-family: "Helvetica Neue", "HelveticaNeue", "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  padding: 20px;
}

h2 {
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  padding: 50px 0 20px 0;
}

h4 {
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
}

h5 {
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: #999;
}

span.underlined {
  color: #f66333;
  border-bottom: 3px solid #eee;
  padding-bottom: 5px;
}

span.highlight {
  background-color: #fcffa5;
  padding: 3px;
}

p a, footer a {
  color: #10a0f2;
  text-decoration: none;
  border-bottom: 1px solid #10a0f2;
  padding-bottom: 1px;
  -o-transition: color 0.5s linear, border-color 0.5s linear;
  -ms-transition: color 0.5s linear, border-color 0.5s linear;
  -moz-transition: color 0.5s linear, border-color 0.5s linear;
  -webkit-transition: color 0.5s linear, border-color 0.5s linear;
  transition: color 0.5s linear, border-color 0.5s linear;
}

a:hover {
  color: #095a88;
  border-color: #095a88;
}

footer {
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 14px;
  margin-top: 80px;
}

span#heart {
  color: #ed1c24;
  font-size: 18px;
  padding: 0 1px;
}

footer p#navbar a {
  margin: 0 10px;
}

.clear {
  clear: both;
  height: 0;
}

.mobile-only {
  display: none;
}

/* Home page */

ul#team {
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0;
}
ul#team li {
  list-style:none; /* Disable the normal item numbering */
  display: inline-block;
  min-width: 200px;
  width: 30%;
  margin: 30px 1%;
  padding: 0;
}
ul#team p {
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 22px;
  margin: 5px 0 0 0;
}
#team-neil {
  background-image: url('/images/team/neil.jpg');
}
#team-taylor {
  background-image: url('/images/team/taylor.jpg');
}
ul#team .img-container {
  margin: 0 auto;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
ul#team h4 {
  margin-top: 7px;
}

ol#philosophies {
  counter-reset:philosophies; /* Initiate a counter */
  margin-left:0; /* Remove the default left margin */
  padding-left:0; /* Remove the default left padding */
  text-align: left;
}

ol#philosophies > li {
  position:relative; /* Create a positioning context */
  margin:0 0 20px 3em; /* Give each list item a left margin to make room for the numbers */
  padding:4px 13px; /* Add some spacing around the content */
  list-style:none; /* Disable the normal item numbering */
}
ol#philosophies > li:before {
  content:counter(philosophies); /* Use the counter as content */
  counter-increment:philosophies; /* Increment the counter by 1 */
  position:absolute;
  left:-2em;
  top: 0.7em;
  color:#fff;
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 30px;
  background:#0ae37a;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align:center;
  line-height: 60px;
}

ol#philosophies p {
  margin: 0;
}

a#cta {
  display: block;
  background-color: #0ae37a;
  width: 250px;
  height: 70px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  line-height: 70px;
  margin: 30px auto 10px auto;
  -o-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -webkit-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}
a#cta:hover {
  background-color: #08b260;
}
p#or {
  text-align: center;
  color: #ccc;
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  margin: 0;
}
p.centered {
  text-align: center;
}
p#sub-cta {
  text-align: center;
  margin: 10px 0;
  font-size: 23px;
}

ol#philosophies.list404 {
  max-width: 350px;
  margin: 0 auto;
}
ol#philosophies.list404 p {
  margin-top: 10px;
}

/* Blog */

article .title {
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  padding: 10px;
}

article .title a {
  color: #404040;
  text-decoration: none;
  -o-transition: color 0.5s linear;
  -ms-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -webkit-transition: color 0.5s linear;
  transition: color 0.5s linear;
}
article .title a:hover {
  color: #10a0f2;
}

article .author {
  font-family: "Helvetica Neue", "Helvetica Neue Light", "HelveticaNeue-Light", "Segoe UI Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  font-style: italic;
  color: #999;
  margin: 20px 0 30px 0;
}

article .post_body {
  text-align: left;
}

article hr {
  border: 1px dashed #e6e6e6;
  width: 80%;
  margin: 40px auto;
}

article img {
  display: block;
  margin: 10px auto;
}

#followme {
  color: #666;
  font-size: 15px;
  margin-top: 40px;
}

.footnotes {
  font-size: 80%;
}

.pagination a#newerPosts {
  float: left;
  margin: 30px 0 20px 10px;
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.pagination a#olderPosts {
  float: right;
  margin: 30px 10px 20px 0;
  font-family: "Helvetica Neue", "Helvetica Neue Bold", "HelveticaNeue-Bold", "Segoe UI Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (max-width: 800px) {
    h1 {
      font-size: 35px;
    }
}
@media only screen and (max-width: 750px) {
    h2 {
      font-size: 35px;
    }
}
@media only screen and (max-width: 705px) {
    h1 {
      font-size: 30px;
    }
}
@media only screen and (max-width: 655px) {
    h2 {
      font-size: 30px;
    }
}
@media only screen and (max-width: 610px) {
    h1 {
      font-size: 28px;
    }
}
@media only screen and (max-width: 575px) {
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 28px;
    }
}
@media only screen and (max-width: 525px) {
    h1, h2 {
      font-size: 40px;
    }
}
@media only screen and (max-width: 450px) {
    h1, h2 {
      font-size: 35px;
    }
    .mobile-only {
      display: inherit;
    }
}
@media only screen and (max-width: 350px) {
    h1, h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 25px;
    }
    .desktop-only {
      display: none;
    }
}
@media only screen and (max-width: 720px) {
    ul#team li {
      min-width: 400px;
    }
}
@media only screen and (max-width: 400px) {
    ul#team li {
      min-width: 210px;
    }
}

/* for high resolution display */
@media only screen and (min--moz-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {
  #logo {
    background-image: url('/images/logo@2x.png');
  }
  #team-neil {
    background-image: url('/images/team/neil@2x.jpg');
  }
  #team-taylor {
    background-image: url('/images/team/taylor@2x.jpg');
  }
}
